.img_logo_header {
	flex: 1;

	padding: 0 0px;
	background: ---color-original;
	text-align: center;
	font-size: 1.5em;
}

:root {
	--color-dark1: #fff;
	--color-dark2: #272727;
	--color-dark3: #b040fb;
	--color-dark4: #2d2d2d2d;
	--color-dark5: #34343434;
	---color-original: #FFF9E8;

}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--color-dark4);
	color: var(var(--color-dark2))
}

.img_Pesquisar {
	justify-content: end;
	width: 60px;
}

.img_logo_header {
	display: flex;
	flex-direction: column;
	width: 125px;

}

.header,
.navigation_header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header {
	background-color: var(---color-original);
	box-shadow: 1px 1px 2px var(var(--color-dark4));
	height: 1.5;
	justify-content: space-between;
	padding: 0 1%;
}

.navigation_header a {
	flex-wrap: nowrap;
	text-decoration: none;
	color: var(--color-dark2);
	transition: 0,5s;
	font-weight: bold;
	


}

.navigation_header a:hover {
	background-color: rgba(235, 220, 172, 0.5);
	padding: 10px;
	border-radius: 10px;


}

.navigation_header {
	gap: 3em;
	padding: 0%;
}