.LogoDoSite {
	width: 200rem;
}

.img_logo_header {
	flex: 1;

	padding: 0 0px;
	background: ---color-original;
	text-align: center;
	font-size: 1.5em;
}

:root {
	--color-dark1: rgba(235, 220, 172, 0.5);
	--color-dark2: #272727;
	--color-dark3: #b040fb;
	--color-dark4: #2d2d2d2d;
	--color-dark5: #34343434;
	---color-original: #FFF9E8;

}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--color-dark4);
	color: var(var(--color-dark2))
}

.img_Pesquisar {
	justify-content: end;
	width: 60px;
}

.img_logo_header {
	display: flex;
	flex-direction: column;
	width: 125px;
	right: 10em;

}

.header,
.navigation_header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header {
	box: shadow 10px;
}

.header {
	background-color: rgba(255, 171, 16, 0.5);
	/*AJUTAR COR*/
	box-shadow: 100px#272727;
	height: 1.5;
	justify-content: space-between;
	padding: 0 8%;
	box-shadow: 6px#272727;

}

.navigation_header a {
	flex-wrap: nowrap;
	text-decoration: none;
	color: var(--color-dark2);
	transition: 1s;
	font-weight: bold;

}

.navigation_header :hover {
	background-color: rgba(235, 220, 172, 0.5);
	padding: 10px;
	border-radius: 10px;

}

.navigation_header {
	position: absolute;
	left: 17em;
}

.navigation_header2 {
	position: absolute;
	right: 8em;
}

.navigation_header {
	gap: 3em;
	padding: 0%;
}

.navigation_header2 {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navigation_header2 a {
	flex-wrap: nowrap;
	text-decoration: none;
	color: var(--color-dark2);
	transition: 1s;
	font-weight: bold;
	font-size: 50%;



}

#botao_cadastro {
	/*AJUSTAR COR*/
	background-color: rgba(243, 215, 164, 0.5);
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 10px;
}

#botao_cadastro:hover {

	background-color: rgba(170, 162, 136, 0.5);
	padding: 10px;
	border-radius: 10px;
	transition: 1s;
	
}

.botao_login {
	background-color: rgba(243, 215, 164, 0.5);
	/* Green */
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 10px;


}
.botao_login:hover {

	background-color: rgba(170, 162, 136, 0.5);
	padding: 10px;
	border-radius: 10px;
	transition: 1s;
	
}

.navigation_header2 {
	gap: 3em;
	padding: 0%;
}

#cadastro1 {
	justify-content: end;
	height: 3rem;
	width: 3rem;
}

#cadastro1 :hover {
	background-color: rgba(235, 220, 172, 0.5);
	padding: 10px;
	border-radius: 10px;
}

.btn_icon_header {
	background-color: transparent;
	border: none;
	color: var(---color-original);
	cursor: pointer;
	display: none;

}

.Botao_do_X {
	background-color: transparent;
	border: none;
	color: var(---color-original);
	cursor: pointer;
	display: none;

}

.search_box {
	position: absolute;
	left: 45em;

	background: #fff;
	height: 2, 25em;
	padding: 10px;
	border-radius: 40em;

	display: flex;
	justify-content: space-between;
	align-items: center;

}

::-webkit-input-placeholder {
	font-size: 17px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #aeaeae;
}

.search_text {
	background: none;
	border: 0;
	outline: 0;
	padding: 0%;
	font-size: 16px;
	transition: 0.4s;
	width: 0;
}

.search_btn {
	width: 25px;
	height: 25px;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

}

.search_box:hover>.search_text {
	width: 265px;
	padding: left 30%;
}

.search_box:hover>.search_btn {
	background: rgba(235, 220, 172, 0.5);
}

.search_box:hover>.search_btn .Lupa1 {
	display: none;
}

.search_box:hover>.search_btn .LupaPreta {
	display: block;
}

.LupaPreta {
	display: none;

}

.Lupa1 {}


@media screen and (max-width: 768px) {
	.Botao_do_X {}

	.btn_icon_header {
		display: block;
	}

	.navigation_header {
		position: absolute;
		flex-direction: column;
		top: 0 background-color var(var(--color-dark1))
	}
}

.Entrar {
	position: relative;
	z-index: 1;

}

.Entrar::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cadastro {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.navigation_header2 {

	cursor: pointer;
}

#popup_wrapper{
	display: none;
	background: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#popup{
	font-family: Arial;
	text-align: center;
	width: 100%;
	max-width: 300px;
	margin: 10% auto;
	background: white;
	position: relative;
	border-radius: 15px;

}

#popup a{
	color: white;
	cursor: pointer;
	padding: 6px 10px;
	text-decoration: none;
	background: crimson;

}

#popup_close{
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;

}

#popup_content{
 background: white;
 margin: 20px;
padding: 30px;
border-radius: 4px;
box-shadow: 0 1px 1px rgba(0,0,0,.1);
max-width: 20px auto;

}

#popup_content h1{
	font-family:  sans-serif;
	margin: 0px 0px 20px;

}

#popup_content label{
	display: block;
	font-family: sans-serif;
	margin-bottom: 5px;
	margin-top: 10px;

}

#popup_content input{

	width: 100%;
	border:1px solid 100%;
	border-radius: 4px;
	padding: .5rem;
	font-size: 1rem;
	background: #f7f7f7;
}

#popup_content button{

	background-color:rgb(194, 160, 69);
	margin-top: 20px;
	display: block;
	font-family: sans-serif;
	font-size: 1rem;
	padding: .6rem 2rem;
	border: none;
	border-radius: 4px;
	transform: translateX(-20px);
	
	

}

#popup_content.animar{
	animation-name: slide;
	animation-duration: 2s;
	animation-fill-mode: forwards;

}

@keyframes slide{
	from{
		opacity: 0;
	}
	to{
		transform: translateX(0);
		opacity: 1;
	}
}

#BtConfirmar{
	align-items: center;
	cursor: pointer;
	margin-left: 27.5%;
}